* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: black;
}

header {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 30px 100px;
}

main {
    gap: 40px;
    align-items: center;
    padding: 0px 150px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    padding: 50px;
}

.logo img {
    width: 70px;
}

.logo .nome {
    color: white;
    font-size: 50px;
    padding: 20px;
}

.menu {
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.167);
    padding: 30px;
    width: 720px;
    font-size: 20px;
    border-radius: 35px;
}

a {
    color: white;
    text-decoration: none;
    padding: 25px;
    transition: 0.8s;
}

a:hover {
    opacity: 0.7;
}

.curriculo {
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.167);
    padding: 30px;
    width: 200px;
    font-size: 20px;
    border-radius: 35px;
}

.sobremim .ola {
    color: rgba(255, 255, 255, 0.663);
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.sobremim .text1 {
    color: white;
    font-size: 70px;
    font-weight: 400;
}

.sobremim .text2 {
    color: rgba(255, 255, 255, 0.663);
    font-size: 70px;
    font-weight: 400;
    margin-top: -15px;
}

.sobremim .biografia {
    color: white;
    font-size: 20px;
    font-weight: 350;
    letter-spacing: 0.3px;
    width: 800px;
    margin-top: 70px;
}

.perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil img {
    width: 750px;
    height: 750px;
}

.botoes {
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.3px;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
}

.botoes #botao1 {
    width: 180px;
    background-color: rgba(255, 255, 255, 0.663);
    border-radius: 10px;
}

.botoes #botao2 {
    width: 240px;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.167);
    border-radius: 10px;
}

.icones {
    display: flex;
    gap: 33px;
    font-size: 35px;
    margin-top: 30px;
}

.hero {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.hero2 {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: row;
}

.habilidades {
    margin-top: 100px;
    text-align: left;
}

.habilidades .ola {
    color: rgba(255, 255, 255, 0.663);
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.habilidades .text3 {
    color: white;
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
    align-items: flex-end;
}

.info {
    color: rgba(255, 255, 255, 0.663);
    font-weight: 300;
    width: 600px;
    letter-spacing: 0.3px;
    margin-top: 16px;
}

.maior {
    display: flex;
    gap: 50px;
}

.html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.167);
    width: 350px;
    height: 450px;
    border-radius: 40px;
}

.html .frase {
    color: white;
    font-weight: 500;
    padding: 20px;
    margin-top: -12px;
}

.subfrase {
    color: rgba(255, 255, 255, 0.663);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.3px;
    padding: 20px;
    margin-top: -20px;
}

.subfrase2 {
    color: white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.3px;
    padding: 20px;
    margin-top: 20px;
}

.css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.167);
    width: 350px;
    height: 450px;
    border-radius: 40px;
}

.css .frase {
    color: white;
    font-weight: 500;
    padding: 20px;
    margin-top: -12px;
}

.js {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.167);
    width: 350px;
    height: 450px;
    border-radius: 40px;
}

.js .frase {
    color: white;
    font-weight: 500;
    padding: 20px;
    margin-top: -12px;
}

.figma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.167);
    width: 350px;
    height: 450px;
    border-radius: 40px;
}

.figma .frase {
    color: white;
    font-weight: 500;
    padding: 20px;
    margin-top: -12px;
}

.imagens {
    margin-top: -20px;
    width: 150px;
    border-radius: 40px;
    padding: 15px;
}

.barra {
    width: 87%;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-top: 10px;
    overflow: hidden;
    align-self: center;
}

.progresso-html {
    width: 50%;
    height: 100%;
    background-color: #ff7b7b;
    border-radius: 20px;
}

.progresso-css {
    width: 50%;
    height: 100%;
    background-color: #FFEDCF;
    border-radius: 20px;
}

.progresso-js {
    width: 50%;
    height: 100%;
    background-color: #CFFFD2;
    border-radius: 20px;
}

.progresso-figma {
    width: 50%;
    height: 110%;
    background-color: #ECCFFF;
    border-radius: 20px;
}

.elementos {
    display: flex;
    gap: 12px;
    padding: 20px;
    margin-top: -10px;
}
.elementos .html1 {
    background-color: transparent;
    border: 1px solid #FFCACA;
    color: #FFCACA;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 25px;
    width: 100px;
}

.elementos .css2 {
    background-color: transparent;
    border: 1px solid #FFEDCF;
    color: #FFEDCF;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 33px;
    width: 100px;
}

.elementos .js2 {
    background-color: transparent;
    border: 1px solid #CFFFD2;
    color: #CFFFD2;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 43px;
    width: 100px;
}

.elementos .figma2 {
    background-color: transparent;
    border: 1px solid #ECCFFF;
    color: #ECCFFF;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 23px;
    width: 100px;
}

.html2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.167);
    width: 500px;
    height: 500px;
    border-radius: 40px;
}

.subfrase3 {
    color: white;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.3px;
    padding: 20px;
    margin-top: 10px;
}

.frase3 {
    color: white;
    padding: 20px;
    margin-bottom: -30px;
}

.frases {
    margin-top: 0px;
}

.imagemloja img{
    width: 480px;
    height: 250px;
}

.imagemloja {
    margin-top: 20px;
    padding: 8px;
}

.text3 {
    color: white;
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
    align-items: flex-end;
}

.html3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.167);
    width: 1600px;
    height: 170px;
    margin-top: 100px;
    border-radius: 40px;
}

.text4 {
    color: white;
    display: flex;
    justify-content: space-between;
}

.imagemAviao img{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: flex-start;
}

.imagemAviao {
    margin-top: 23px;
    padding: 8px;
}